{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
  }
}
